
<h1> TinyApp</h1>
<h2> Login in as : <%=username %> </h2>


 <form method="POST" action="/login">
  Username:
  <br>
      <input type="text" placeholder= "username"name="username">
      <button type="submit" class="btn btn-primary"> Login</button>
      </form>



<h2> My URLs </h2>
